body{
    background-color: lightgray;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
  }
  table{
    width: 50%;
    margin-left: 25%;
  }
  td{
    height: 40px;
    background-color: lightpink;
  }
  th{
    height: 50px;
    background-color: lightblue;
  }
  h1{
    background-color: aqua;
    text-align: center;
    padding : 30px;
    font-size: 50px;
  }




  